<launch>

<arg name="planning_app" default="planning_app" />
<arg name="plan_file" default="plan_file" />

<group>
  <node pkg="nist_kitting" name="crcl_server" args="-d" type="crcl_server"/>
  <node pkg="nist_kitting" name="prim_robot" args="-d" type="kitting_prim_robot_node"/>
  <node pkg="nist_kitting" name="emove" args="-d" type="kitting_emove_node" output="screen"/>
  <node pkg="nist_kitting" name="pl_hi" args="-d -p $(arg planning_app) -f $(arg plan_file)" type="kitting_pl_hi_node" output="screen"/>
</group>

</launch>
