<launch>

<!--
Runs the simple_message_sim C++ executable that serves up the robot
control message port and the state port, and presents an interactive
prompt for setting robot parameters.

Run as, e.g., 

    roslaunch nist_kitting simple_message_sim.launch robot_ip:=localhost urdf_path:=/usr/local/el-robotics-core/sim_robot/urdf/sim_robot.urdf 

-->

<arg name="msg_port" default="11000" />
<arg name="state_port" default="11002" />
<arg name="period" default="0.5" />
<arg name="robot_ip" default="localhost" />
<arg name="urdf_path" default="robot.urdf" />

<group>

  <node pkg="nist_kitting" required="true" name="simple_message_sim" args="-m $(arg msg_port) -s $(arg state_port) -t $(arg period) -d" type="simple_message_sim" output="screen"/>

</group>

</launch>
