*.DS_Store
*.backup
*~
*.bak
*.log
*.dvi
*.toc
*.out
*.aux
*.blg
*.bbl
*.o
*.a
/Documents/Manuals/Interpreter/LaTeX-Source/executor.lof
/Documents/Manuals/Interpreter/LaTeX-Source/interpreter.tex.sav
/Documents/Manuals/Interpreter/LaTeX-Source/executor.ps
/executor/Autotools/autom4te.cache/*.*
/executor/Autotools/src/.deps/*.*
/executor/Autotools/src/database/.deps/*.*
/executor/Autotools/src/interpreter/.deps/*.*
/xml/common/bin/compactOwl
/xml/common/bin/compareOwl
/xml/common/bin/xml2owlGenerator
/xml/common/bin/xmlInstanceParserGenerator
/xml/common/bin/xmlSchemaOwlClassGenerator
/xml/common/bin/xmlSchemaParser
*.sav
*.lot
/Documents/Manuals/Kitting-LaTeX/Sources/kitting.lof
*.spl
/.project
