*.DS_Store
*.backup
*~
*.bak
*.log
*.dvi
*.toc
*.out
*.aux
*.blg
*.bbl
/Documents/Manuals/Interpreter/LaTeX-Source/executor.lof
/Documents/Manuals/Interpreter/LaTeX-Source/interpreter.tex.sav
/Documents/Manuals/Interpreter/LaTeX-Source/executor.ps
*.sav
*.lot
/Documents/Manuals/Kitting-LaTeX/Sources/kitting.lof
