<launch>

<!--
    Run as, e.g., 

    roslaunch gomotion_ros gomotion_ros.launch ns:=fanuc inifile:=gomotion/etc/fanuc-lrmate-200id.ini
-->

<arg name="ns" default="gomotion_ros" />
<arg name="inifile" default="gomotion.ini" />
<arg name="debug" default="" />

<group ns="$(arg ns)">

<node pkg="gomotion_ros" type="gomotion_ros" name="gomotion_ros" args="-i $(arg inifile) $(arg debug)" output="screen" required="true"/>

</group>

</launch>
